#map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 499;
}

@font-face {
  font-family: "FontAwesome";
  src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-search:before {
  content: "\f002";
}

.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}

.fa-moon-o:before {
  content: "\f186";
}

.fa-angle-down:before {
  content: "\f107";
}

.mh-500 {
  max-height: 50rem !important;
}

.leaflet-control-attribution {
  display: none;
}

.z-500 {
  z-index: 500;
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: var(--primary-color);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.custom-div-icon span {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
  margin: 12px auto;
  font-size: 13px;
}

.selected-marker-pin::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.selected-marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: lightcoral;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.green {
  background: var(--success-color);
}

.red {
  background: var(--danger-color);
}

body:not(.dark-mode) span.sidebar-link:hover {
  background-color: lightgray;
  cursor: pointer;
  border-radius: 15px;
}

.dark-mode span.sidebar-link:hover {
  background-color: gray;
  cursor: pointer;
  border-radius: 15px;
}
